In [1]:
import pandas as pd

In [2]:
airport_small = pd.read_csv('monthly_reports_2024/report_2024_airport.csv')

In [3]:
airport_all = pd.read_csv('monthly_reports_2024/airports_final.csv')

In [4]:
airport_small.head()

   Unnamed: 0 AIRPORT_CODE   CITY_NAME STATE_ABR      STATE_NAME
0           0          ATL     Atlanta        GA         Georgia
1           1          DTW     Detroit        MI        Michigan
2           2          DSM  Des Moines        IA            Iowa
3           3          LGA    New York        NY        New York
4           4          CHS  Charleston        SC  South Carolina

In [5]:
airport_all.head()

,Unnamed: 0,AIRPORT_ID,AIRPORT_TYPE,AIRPORT_NAME,LATITUDE,LONGITUDE,COUNTRY,ICAO_CODE,IATA_CODE,SCHEDULED_SERVICE,AIRPORT_CODE,STATE_NAME,CITY_NAME,STATE_ABR
0,0,4983.0,medium_airport,Anaa Airport,-17.352600,-145.509995,PF,NTGA,AAA,1.0,AAA,Unknown,Anaa,PF-U-A
1,1,3176.0,medium_airport,El Arish International Airport,31.078565,33.836791,EG,HEAR,AAC,1.0,AAC,Unknown,El Arish,EG-SIN
2,2,2060.0,medium_airport,Annaba Rabah Bitat Airport,36.826781,7.813340,DZ,DABB,AAE,1.0,AAE,Unknown,Annaba,DZ-23
3,3,2562.0,medium_airport,Aalborg Airport,57.094763,9.849930,DK,EKYT,AAL,1.0,AAL,Unknown,Aalborg,DK-81
4,4,5230.0,medium_airport,Al Ain International Airport,24.261700,55.609200,AE,OMAL,AAN,1.0,AAN,Unknown,Al Ain,AE-AZ

In [6]:
airport = pd.merge(airport_small, airport_all,on='AIRPORT_CODE')

In [7]:
airport

,Unnamed: 0_x,AIRPORT_CODE,CITY_NAME_x,STATE_ABR_x,STATE_NAME_x,Unnamed: 0_y,AIRPORT_ID,AIRPORT_TYPE,AIRPORT_NAME,LATITUDE,LONGITUDE,COUNTRY,ICAO_CODE,IATA_CODE,SCHEDULED_SERVICE,STATE_NAME_y,CITY_NAME_y,STATE_ABR_y
0,0,ATL,Atlanta,GA,Georgia,153,3384.0,large_airport,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,US,KATL,ATL,1.0,Georgia,Atlanta,US-GA
1,1,DTW,Detroit,MI,Michigan,718,3497.0,large_airport,Detroit Metropolitan Wayne County Airport,42.213770,-83.353786,US,KDTW,DTW,1.0,Michigan,Detroit,US-MI
2,2,DSM,Des Moines,IA,Iowa,712,3496.0,medium_airport,Des Moines International Airport,41.534000,-93.663101,US,KDSM,DSM,1.0,Iowa,Des Moines,US-IA
3,3,LGA,New York,NY,New York,1531,3643.0,large_airport,LaGuardia Airport,40.777199,-73.872597,US,KLGA,LGA,1.0,New York,New York,US-NY
4,4,CHS,Charleston,SC,South Carolina,492,3450.0,medium_airport,Charleston International Airport,32.898602,-80.040497,US,KCHS,CHS,1.0,South Carolina,Charleston,US-SC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,343,EWN,New Bern/Morehead/Beaufort,NC,North Carolina,814,3520.0,medium_airport,Coastal Carolina Regional Airport,35.073002,-77.042900,US,KEWN,EWN,1.0,North Carolina,New Bern,US-NC
342,344,PQI,Presque Isle/Houlton,ME,Maine,2178,3787.0,medium_airport,Presque Isle International Airport,46.688999,-68.044800,US,KPQI,PQI,1.0,Maine,Presque Isle,US-ME
343,345,EAR,Kearney,NE,Nebraska,738,19716.0,medium_airport,Kearney Regional Airport,40.727001,-99.006798,US,KEAR,EAR,1.0,Nebraska,Kearney,US-NE
344,346,EAU,Eau Claire,WI,Wisconsin,741,3501.0,medium_airport,Chippewa Valley Regional Airport,44.865799,-91.484299,US,KEAU,EAU,1.0,Unknown,Eau Claire,US-WI
345,347,MGW,Morgantown,WV,West Virginia,1708,3682.0,medium_airport,Morgantown Municipal Airport Walter L. (Bill) ...,39.643305,-79.917598,US,KMGW,MGW,1.0,Unknown,Morgantown,US-WV

In [18]:
airport['coordinates'] = list(zip(
    airport.LATITUDE.apply(lambda x: round(x,2)),
    airport.LONGITUDE.apply(lambda x: round(x, 2))
    ))

In [19]:
airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0_x       346 non-null    int64
 1   AIRPORT_CODE       346 non-null    object
 2   CITY_NAME_x        346 non-null    object
 3   STATE_ABR_x        346 non-null    object
 4   STATE_NAME_x       346 non-null    object
 5   Unnamed: 0_y       346 non-null    int64
 6   AIRPORT_ID         346 non-null    float64
 7   AIRPORT_TYPE       346 non-null    object
 8   AIRPORT_NAME       346 non-null    object
 9   LATITUDE           346 non-null    float64
 10  LONGITUDE          346 non-null    float64
 11  COUNTRY            346 non-null    object
 12  ICAO_CODE          346 non-null    object
 13  IATA_CODE          346 non-null    object
 14  SCHEDULED_SERVICE  346 non-null    float64
 15  STATE_NAME_y       346 non-null    object
 16  CITY_NAME_y        346 non-null    object
 17  STATE_ABR_y        346 non-null    object
 18  coordinates        346 non-null    object
dtypes: float64(4), int64(2), object(13)
memory usage: 51.5+ KB

In [20]:
airport_name = airport[['AIRPORT_CODE', 'AIRPORT_NAME', 'coordinates']]

In [21]:
airport_name

,AIRPORT_CODE,AIRPORT_NAME,coordinates
0,ATL,Hartsfield Jackson Atlanta International Airport,"(33.64, -84.43)"
1,DTW,Detroit Metropolitan Wayne County Airport,"(42.21, -83.35)"
2,DSM,Des Moines International Airport,"(41.53, -93.66)"
3,LGA,LaGuardia Airport,"(40.78, -73.87)"
4,CHS,Charleston International Airport,"(32.9, -80.04)"
...,...,...,...
341,EWN,Coastal Carolina Regional Airport,"(35.07, -77.04)"
342,PQI,Presque Isle International Airport,"(46.69, -68.04)"
343,EAR,Kearney Regional Airport,"(40.73, -99.01)"
344,EAU,Chippewa Valley Regional Airport,"(44.87, -91.48)"
345,MGW,Morgantown Municipal Airport Walter L. (Bill) ...,"(39.64, -79.92)"

In [22]:
airport_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346 entries, 0 to 345
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AIRPORT_CODE  346 non-null    object
 1   AIRPORT_NAME  346 non-null    object
 2   coordinates   346 non-null    object
dtypes: object(3)
memory usage: 8.2+ KB

In [24]:
print(type(airport_name['coordinates'][0]))

<class 'tuple'>

In [23]:
airport_name.to_csv('airport_name.csv', index=False)